.myImg {
  max-height: 100px;
  width: auto;
}
.main-div {
  display: flex;
  justify-content: center;
}
.btn {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .main-div {
    padding: 2rem;
  }
}
