.car-small {
  width: 4rem;
  height: 4rem;
  padding: 0.125rem;
}

.car-medium {
  width: 8rem;
  height: 8rem;
  padding: 0.25rem;
}

.car-large {
  width: 16rem;
  height: 16rem;
  padding: 0.5rem;
}
