.menu-background {
  background-color: #5a4effaa;
  max-width: 430;
  max-height: 800;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: auto;
}

.title {
  text-align: center;
  padding: 2rem;
}

.car {
  font-family: fantasy;
}

.buttons-list {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
